.cart-container{
    margin-top: 30px;
}

.cart-items{
    margin-top: 20px;
    border-bottom:   1px solid lightgray;
    padding-bottom: 20px;
}

.purchase-btn{
    background-color:rgb(79, 180, 118);
    width: 250px;
    height: 60px;
    font-weight: bold;
    color: white;
    font-size: large;
}

.empty-cart{
    text-align: center;
    margin-top: 200px;
}

h2{
    color:  rgb(44, 35, 35);
}


.total-price{
    width: 300px;
    margin: 0 auto;
    h2{
        color: rgb(79, 180, 118);
        font-size: 35px
    }
}

.remove-btn, .clear-btn{
    background-color: black;
    color: white;
}

.buy-more{
    background-color:rgb(79, 180, 118);
    color: white;
    width: 100px;
    height: 40px;
    margin-left: 10px;
}

img{
    width: 250px;
    height: 180px;
}
.clear-btn{
    height: 40px;
}

.title{
    text-align: center;
    text-decoration: underline;
}


@media (max-width: 540px) {
    img{
        width: 150px;
        height: 130px;
    }
    h1,h2,h3{
        font-size: medium;
        margin-left: 5px;
    }
    h3{
        margin-left: 10px;
        margin-right: 10px;
    }
}


