.chat-btn{
    bottom: 50px;
    right: 50px;
}

.home-page{
    text-align: center;
  
}
.homepage-img{
    margin: 50px 0 50px 0;
}

.quote{
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 18px;
    font-family:cursive
}

h2{
    text-decoration: underline;
}

h1{
    color: rgb(233, 60, 60);
}