.set-card {
    height: 320px;
    width: 300px;
    border: 1px solid lightgray;
 
    margin: 0 auto;
    text-align: center;
    color: rgb(102, 83, 83);
    box-shadow: 0px 0px 1px 1px #958d8d57;
    background-color: ghostwhite;
    &:hover{
        opacity: 0.9;
    }
  }

  .stock{
      width: 300px;
      height: 80px;
      top: 70px;
     position: absolute;
      background-color: rgb(214, 80, 80);
      opacity: 0.7;
    
  }

  .img-section{
    position: relative;
  }

 
  h2{
    color: white
  }

  .set-img {
      margin-top: 10px;
      width: 250px;
      height: 200px;
      cursor: pointer;
  }

 .set-name{
   text-decoration: none;
   font-weight: bold;
 }

 .sale-line{
   position: relative;
 }

  .save-img{
    position: absolute;
    height: 30px;
    width: 30px;
    transform: rotate(90deg);
    bottom: 15px;
    right: 15px;
  }

  .sale {
    margin-left: 15px;
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 10px;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 10px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }
  
//   @-moz-keyframes glowing {
//     0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
//     50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
//     100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
//   }
  
  @-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 10px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 10px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }

  @media (max-width: 1080px) {
    .set-card {
      width: 270px;
      height: 280px;
    }
    .set-img{
      width: 220px;
      height: 160px;
    }
    .stock{
      width: 270px;
      height: 60px;
      top: 40px;
    }
  }
  @media (max-width: 540px) {
    .set-card {
      width: 190px;
      height: 230px;
    }
    .set-img{
      width: 180px;
      height: 130px;
    }
    .set-name{
      margin: 5px;
    }
    .stock{
      width: 200px;
      height: 60px;
      top: 40px;
    }
    .save-img{
      right: 5px;
  }
}