.footer{
    width: 100%;
    background-color:  rgb(37, 33, 33);
    bottom: 0;
    position: sticky;
    text-align: center;
    height: 50px;
   color: rgb(78, 60, 60);
}

.chat-btn{
   
    bottom: 14px;
    right: 50px;
    position: absolute;
}

.copyright{
    padding-top: 17px;
    color: white;
}
