.signup{
    width:300px;
    margin: 0 auto;
    margin-top: 100px;
  text-align: center;
}



.signup-btn {
    background-color:rgb(79, 180, 118);
    color: white;
    width: 100px;
    height: 40px;
    margin-top: 20px;

}

input{
    margin-top: 20px;
    padding: 3px;
}

h1{
    font-style: italic;
}

.back-btn{
    background-color: black;
    color: white;
  
    margin: 0 auto;
    margin-bottom: 50px;
}